@import "./styleVariables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.App {
    font-family: Poppins, sans-serif;
    font-weight: 275;
    font-style: normal;
    color: #fff;

    width: 80%;
    margin: auto;

    h1 {
        font-size: 56px;
    }


    span {
        font-weight: 275;
    }

    .cont_main {
        display: flex;
        flex-direction: row;

        .cont_tasks {
            background-color: $white05;
            border-radius: 10px;
            padding: 30px;
            width: 100%;

            h3 {
                font-size: 20px;
                font-weight: 600;
                margin: 0 0 30px 0;
            }

            .task_list {

                .task {
                    background-color: $white05;
                    border-radius: 10px;
                    margin-bottom: 16px;
                    padding: 16px;

                    h4 {
                        margin: 0;
                    }

                    p {
                        margin: 0;
                    }
                }

            }

        }


        .cont_right {
            display: flex;
            flex-direction: column;
            margin-left: 30px;


            .finished {
                background-color: $white05;
                border-radius: 10px;
                padding: 30px;
                text-align: center;
                margin-bottom: 30px;
                min-width: 340px;

                h3 {
                    font-size: 20px;
                    margin: 0;
                }

                h1 {
                    font-size: 56px;
                    font-weight: 600;
                    margin: 0;
                }
            }


            .cont_form {
                background-color: $white05;
                border-radius: 10px;
                padding: 30px;
                text-align: center;
            }

        }

    }


}


body {
    background-color: $app_grey;
}